@using System.Security.Claims
@{
    bool isPatient = User.IsInRole("Patient");
    bool isDoctor = User.IsInRole("Doctor");
    bool isStaff = User.IsInRole("Receptionist");
}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home")">Trang chủ</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Doctors")">Bác sĩ</a></li>
    <li class="nav-item"><a class="nav-link" href="@Url.Action("Book","Appointments")">Đặt lịch</a></li>


    @if (isPatient)
    {
        <li class="nav-item"><a class="nav-link" href="@Url.Action("MyAppointments","Patients")">Lịch của tôi</a></li>
    }
    @if (isDoctor)
    {
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Schedule","Doctors")">Lịch làm việc</a></li>
    }
    @if (isStaff)
    {
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Manage","Reception")">Quản lý đặt lịch</a></li>
    }


    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Logout","Account")">Đăng xuất</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#authModal">Đăng nhập</a></li>
    }
</ul>