<!DOCTYPE html>
<html lang="en">
<head>
    <title>Health - Medical Website Template</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/Resources/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/animate.css")">
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/owl.carousel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Resources/css/tooplate-style.css")">
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")

    <!-- SCRIPTS chung -->
    <script src="@Url.Content("~/Resources/js/jquery.js")"></script>
    <script src="@Url.Content("~/Resources/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Resources/js/jquery.sticky.js")"></script>
    <script src="@Url.Content("~/Resources/js/jquery.stellar.min.js")"></script>
    <script src="@Url.Content("~/Resources/js/wow.min.js")"></script>
    <script src="@Url.Content("~/Resources/js/smoothscroll.js")"></script>
    <script src="@Url.Content("~/Resources/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Resources/js/custom.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
